body{
  font-family:times;
  font-size: 14px;
  padding:25px;;
  margin:0;
}
h1{
  color:black;
  font-weight: bold;
  text-align:center;
}

h2{
  color:navy;
  font-weight: bold;
  text-shadow:1px 1px blue;
}

h3{
  color:navy;
  font-weight:bold;
}

p{
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

ol{
  list-style-image: url('tinym.png');

}
